@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: #fdf5e2;
}

#sending{
    background-color: #ffd6a4;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-top: 20px;
}

#replied{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    /* background-color: aqua; */
}

#viewMessage{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 75px;
}

::-webkit-scrollbar{
    display: none;
}  

#msg{
    height: 80%;
    width: 100%;
    border-radius: 20px;
    left: 10px;
    text-align: left;
    background-color: #f8f0e1;
    border: 2px solid #d27b10;
    padding-left: 5px;
}

#send{
    z-index: 1;
    right: 0;
    position: relative;
    height: 100%;
    width: 50px;
    border-radius: 100%;
}

#sendpng{
    z-index: -1;
    height: 30px;
    width: 25px;
}

p{
    margin-left: 20px;
    margin-right: 10px;
    width: fit-content; 
}

#rpl{
    background: #d27b10;
    width: fit-content;
    border-radius: 7px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    cursor: grab;
    user-select: none;
}
#rplshow{
    margin: 10px;
}
#replied{
    padding-left: 20px;
}
